.companyLogo {
    width: auto;
    height: 100%;
    border: 2px black solid;
    max-height: 125px;
}

#logoHeader {
    text-align: center;
}

#nonLogoHeader {
    text-align: center;
}

.col-manual-padding {
    padding-top: 20px;
}

#map {
    width: 100%;
    min-width: 420px;
    height: 400px;
}

.siteTable{
  color:red;
}
