.clientSelector {
    height: 100%;
    width: 75%;
    align-content: center;
    text-align-last: center;
    font-size: 48px;
    border: none;
    border-bottom: 1px solid black;
}

.clientSelectorContent {
    font-size: 12pt;
}

table, tr, td, th {
    border: 1px black solid;
}

table {
    width: 100%;
}

div.clientDescription {
    border: 1px black solid;
}

h3.clientDescription {
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    /*width: 10%;*/
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.activeSite {
    background-color: lightcoral;
}

.tabSD {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabSD button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    /*width: 10%;*/
}

.tabSD button:hover {
    background-color: #ddd;
}

.tabSD button.active {
    background-color: #ccc;
}

.tabcontentSD {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}